/*!
 * Start Bootstrap - SB Admin 2 Bootstrap Admin Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    font-family: Tahoma;
    background-color: #ffffff;
}

* {
    font-family: Tahoma;
}

#iframewrapper {
    width: 878px;
    margin: auto;
    margin-top: 10%;
}

#wrapper {
    margin: auto;
    border-bottom: 1px solid #f01e1e;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
    max-height: 500px;
    overflow: auto;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 200px;
        padding: 0 30px;
        border-left: 1px solid #eee;
        max-height: 500px;
        overflow: auto;
    }
    #page-wrapper.toggled {
        position: inherit;
        margin: 0 0 0 40px;
        padding: 0 30px;
        border-left: 1px solid #eee;
    }
}

#test-wrapper {
    padding: 20px 15px;
    min-height: 568px;
    background-color: #fff;
    height: 568px;
    max-height: 568px;
}

@media(min-width:768px) {
    #test-wrapper {
        position: inherit;
        margin: 0;
        padding: 20px 15px;
        height: 568px;
        max-height: 568px;
    }
}

table {
    text-align: center;
    vertical-align: middle;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin: 10px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 40px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

 .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}

.sidebar ul li a.active {
    background-color: #eee;
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 200px;
        margin-top: 77px;
    }
    .navbar-default.toggled  {
       width: 40px;
    }

.sidebar-nav.toggled  {
       width: 40px;
    }
    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #003264;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}

.login-panel {
    text-align: center;
    margin-top: 25%;
}

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee!important;
}

.show-grid {
    margin: 15px 0;
}

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #F01E1E;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-primary {
    border-color: #003264;
}

.panel-primary .panel-heading {
    border-color: #003264;
    color: #fff;
    background-color: #003264;
}

.panel-primary a {
    color: #003264;
}

.panel-primary a:hover {
    color: #009AD7;
}

.panel-blue {
    border-color: #009AD7;
}

.panel-blue .panel-heading {
    border-color: #009AD7;
    color: #fff;
    background-color: #009AD7;
}

.panel-blue a {
    color: #009AD7;
}

.panel-blue a:hover {
    color: #003264;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}

.panel-pink {
    border-color: #ff6868;
}

.panel-pink .panel-heading {
    border-color: #ff6868;
    color: #fff;
    background-color: #ff6868;
}

.panel-pink a {
    color: #ff6868;
}

.panel-pink a:hover .panel-pink a:focus{
    color: #f01e1e;
}

.email_logo{
    background-image: url(../images/logo.jpg);
    background-repeat: no-repeat;
	width: 125px;
	height: 47px;
	margin: 0px 20px 10px 0px;
    float: right;
}

.header_logo{
    background-image: url(../images/header_logo.png);
    background-repeat: no-repeat;
	width: 62px;
	height: 74px;
	margin: 0px 175px 0px 0px;
    float: right;
}

.clsRed {
    color: #f00;
    font-weight: bold;
    font-size: 10px;
    vertical-align: text-top;
}

.logo-exide {
	background: url(../images/logo.jpg);
    background-repeat: no-repeat;
	width: 125px;
	height: 47px;
	margin: 13px 20px;
}

.logo-tms {
    margin: -52px;
    font-size: 25px;
    text-align: center;
}

.logo-vidya{
	background-image: url(../images/vidya.jpg);
    background-repeat: no-repeat;
    background-color: #fff;
    width: 106px;
    height: 41px;
    margin: 12px 86%;
    position: absolute;
}
.maind, .selecid {
	line-height: 30px;
	background-color: #003264;
	color: #fff;
    cursor: pointer;
}

.maindashboard {
    background-color: #ffffff;
    cursor: pointer;
    color: #003264;
}

.maindashboard > span {
    text-decoration: underline;
}

.maindashboard > i {
    color: #F01E1E;
}

.nav-tabs {
    background-color: #003264;
	color: #fff;
}

.nav-tabs>li>div {
    margin-left: 10px;
    margin-right: 10px;
    border: 0px;
    border-radius: 0px;
}

#menu-toggle {
    background-image: url('../images/glyphicons-halflings.png');
    background-position: -234px -68px;
    width: 30px;
    height: 28px;
    position: absolute;
    left: 42%;
    z-index: 10000;
    opacity: 0.4;
}

#menu-toggle.toggled {
    background-image: url('../images/glyphicons-halflings.png');
    background-position: -330px -68px;
    width: 30px;
    height: 28px;
    left: 25%;
    z-index: 10000;
    opacity: 0.4;
}

#pageloading{
    position: fixed;
    background: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index: 2000;
    top: 0px;
    display: none;
}

#loading{
    position: absolute;
    background-image: url(../images/loading.gif);
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
    left: 48%;
    top: 45%;
}

.goToLastPage{
    float: right;
    cursor: pointer;
}

.content-hide {
    padding-left: 5px;
}


.maind.toggled {
	
}

.maind span.toggled{
	display: none;
}

.tooltip.right .tooltip-arrow{
    border-right-color: #009AD7;
}

.tooltip-inner{
    background-color: #009AD7;
    padding: 3px;
}

.input-group {
    display: flex;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    font-size: 20px;
}

.modal-title{
    text-align: center;
}

/* Extra CSS */

#dialogoverlay{
	display: none;
	opacity: .2;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #003264;
	width: 100%;
    height: 100%;
	z-index: 2010;
}

#dialogbox{
	display: none;
	position: fixed;
	border: 1px ridge #003264;
	z-index: 2010;
    margin: 10em 20%;
}

#dialogbox > div{ 
    background: #FFF;
}

#dialogbox > div > #dialogboxhead{ 
    text-align: center;
    background: #FFF;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    color: #000;
    border-bottom: 1px solid #ddd;
    border-radius: 10px 10px 0px 0px;
}

#dialogbox > div > #dialogboxbody{ 
    background: #FFF;
    padding: 20px;
    font-size: 14px;
    color: #003264;
    border-bottom: 1px solid #ddd;
}

#dialogbox > div > #dialogboxfoot{ 
    background: #FFF;
    padding: 5px;
    text-align: right;
    border-radius: 0px 0px 10px 10px;
}

.updatebatch, .btdetails, .attendancelist, .topicclsses, .selectAdminCls, #modulevalidfrom, #modulevalidto, #batchvalidfrom, #batchvalidto, .editbatch, .topiccls, .sectioncls, #mock_test, #topic_test, .moducls, #loginapp, .moducls, .traincls, .bocls, .sessioncreate, #confirm_details, .partymodcls, #language_select, #topic_select, #session_no, #select_batch, #select_date, #test_language, #mok_test, #top_test, #trainingFrom, #trainingTill, #trainer-name,#aprovedtravelling,#aprovedlunch,#aprovedmiscellaneous,#travellingexpenses,#lunchexpenses,#miscellaneousexpenses,.dwQueMas {
    cursor: pointer;
}

.trainerclass, .studentclass {
    cursor: pointer;
	line-height: 40px;
}

.trainerclass.active, .studentclass.active {
	background-color: #fff;
	color: #F01E1E;
}

.answer {
    color: blue;
}

.fa-hand-o-right {
    color: #f01e1e;
    margin-top: 12px;
}

.clsfixatn {
    position: fixed;
    background: blue;
    color: #fff;
    overflow: hidden;
    width: 80px;
}

.batchsubmit, .editbatchsubmit, .modulesubmit, .editmodulesubmit, .nonldap, #reviewAns, .lpaduser, .nooftestattements, .adminCreationDetails, .backofficeclass, .trainersaddclass, .internalstudentaddclass, .externalstudentaddclass, .quesClasses, .attValidFrom, .attValidTo, #test_page, #back_section, #submit_test, .applanguagesubmit, .applangeditsubmit,#testaftertable {
    display: none;
}

.nooftestattements {
    margin-top: -30px;
}

.inst-jpg {
    width: 600px;
    height: 400px;
}

.useAll-check, .user-check, .rem-Allbranch, .add-Allbranch, .rem-branch, .add-branch, .revStd-check, .revStdAll-check {
    float: left;
}

#usertable .useAll-check, .user-check, .rem-Allbranch, .add-Allbranch, .rem-branch, .add-branch, .revStd-check, .revStdAll-check {
    margin: 4px !important;
    float: none;
}


.quesClasses, .rev-header {
    border-bottom: 5px solid #F01E1E;
}

.que-header {
    padding-bottom: 5px;
    margin: 20px 0 10px;
}

.integervalid {
    padding-left: 5px;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    text-align: center;
    filter: alpha(opacity=0);
    opacity: 0;
    background: none repeat scroll 0 0 transparent;
    cursor: inherit;
    display: block;
}

#modulecheck, #batchcheck, #useractive, #testCheck, #trainingCheck, #internetcheck {
    margin: 14px;
}

#topiclist, #sectionlist, #languagelist {
    padding: 15px;
}

.languageCls, .topiccls {
    padding-left: 25px;
    cursor: pointer;
}

#langauage_List, #topic_List, #mastergrouplistid {
    margin-left: 5%;
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/*#traineridsubmit, #intstuidsubmit {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}*/

#addgrouptoadmin {
    margin-top: 40%;
}

button {
    border: 0;
    background-color: inherit;
}

#display_batch{
    margin-left: 6%;
    width: 88%;
    margin-top: -1%;
    padding: 0 0;
    border-radius: 0;
    max-height: 100px;
    overflow: auto;
}

#display_trainers{
    margin-left: 6%;
    width: 88%;
    margin-top: -1%;
    padding: 0 0;
    border-radius: 0;
    max-height: 100px;
    overflow: auto;
}

#display_slot {
    margin-left: 8%;
    min-width: 86%;
    margin-top: -1%;
    padding: 0 0;
    border-radius: 0;
    max-height: 100px;
    overflow: auto;
}

#stuntatt > div > div > div:nth-child(2) > div > span {
    color: #0080ff;
}

.atteBatchCls, .atteSlotCls, .atteTrainerCls {
    cursor: pointer;
    border-bottom: 1px solid #000;
    padding: 4px 0 4px 6px;
}

.atteBatchCls:hover, .atteSlotCls:hover, .atteTrainerCls:hover {
    background-color: #cccccc;
}

div label input {
   margin-right:100px;
}

#yes-button {
    margin:4px;
    background-color:#EFEFEF;
    border-radius:4px;
    border:1px solid #D0D0D0;
    float:left;
}

#yes-button:hover, #yes-button:focus {
    margin:4px;
    background-color:#D0D0D0;
    border-radius:4px;
    border:1px solid #000000;
    float:left;
}

#yes-button label {
    float:left;
    width:100%;
    margin-bottom: 0;
}

#yes-button label span {
    text-align:center;
    padding:5px 10px;
    display:block;
    cursor: pointer;
}

#yes-button label input {
    position:absolute;
    opacity: 0;
}

#yes-button input:checked + span {
    background-color:#003264;
    color:#fff;
}

#no-button {
    margin:4px;
    background-color:#EFEFEF;
    border-radius:4px;
    border:1px solid #D0D0D0;
    float:left;
}

#no-button:hover, #no-button:focus {
    margin:4px;
    background-color:#D0D0D0;
    border-radius:4px;
    border:1px solid #000000;
    float:left;
}

#no-button label {
    float:left;
    width:100%;
    margin-bottom: 0;
}

#no-button label span {
    text-align:center;
    padding:5px 10px;
    display:block;
    cursor: pointer;
}

#no-button label input {
    position:absolute;
    opacity: 0;
}

#no-button input:checked + span {
    background-color:#F01E1E;
    color:#fff;
}


.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color:#fff;
    background-color: #003264;
}

.circle-cls {
    background-color: #003264;
    border: 10px solid #ffffff;
    text-align: center;
    color: #FFFFFF;
    font-size: 50px;
    border-radius: 50%;
    transition: 1s;
    -webkit-transition: 1s;
    min-height: 225px;
    padding-top: 60px;
    margin: auto;
}

.circle-cls:hover {
    cursor: pointer;
    background-color: #FFFFFF;
    border: 10px solid #003264;
    color: #003264;
}

.circle-cls:focus {
    cursor: pointer;
    background-color: #FFFFFF;
    border: 10px solid #003264;
    color: #003264;
    outline: 0;
}

button {
    background-color: transparent;
}

.errorClss {
    display: none;
    color: #f50000;
    padding: 5px 0;
}

.takeinCls {
    position: absolute;
    width: 30px;
    vertical-align: text-bottom;
    text-align: center;
    margin-left: -15px;
}

.existCls {
    position: absolute;
    width: 20px;
    vertical-align: text-top;
    text-align: center;
    padding-top: 10px;
    margin-left: 25px;
}

.divident1 {
    position: absolute;
    padding-top: 0px;
    margin-left: 22px;
}

.divident2 {
    position: absolute;
    padding-top: 13px;
    margin-left: 18px;
}

#testbeforetable > tbody > tr > td, #testbeforetable > thead > tr > td {
    height: 40px;
    min-width: 150px;
}

table > thead > tr > th {
    text-align: center;
}

#toQueCount, #selQueCount {
    text-align: center;
}

#question_table > tbody > tr > td {
    text-align: justify;
}


/* COLUMN FILTER CSS */

.hide, .selectView {
	display: none;
}

.inuse, .ui-slider-range .inuse, .yadcf-filter-range-number-slider .inuse {
	background: #8BBEF0;
}

.yadcf-filter-reset-button {
	display: inline-block;
    color: #F01E1E;
    border: 1px solid #F01E1E;
}

.yadcf-filter-reset-button.range-number-slider-reset-button{
	position: relative;
	top: -6px;	
}

.yadcf-filter {
	padding-right: 4px;
	padding-left: 4px;
	padding-bottom: 3px;
	padding-top: 3px;
}

.yadcf-filter > option{
    background: white;
}

.ui-autocomplete .ui-menu-item { 
	font-size:13px;
}

#ui-datepicker-div { 
	font-size:13px;
}
.yadcf-filter-wrapper {
	display: inline-block;
	white-space: nowrap;
	margin-left: 2px;
}

.yadcf-filter-range-number {
	width: 40px;
}

.yadcf-filter-range-number-seperator {
	margin-left: 10px;
	margin-right: 10px;
}

.yadcf-filter-range-date {
	width: 80px;
}

.yadcf-filter-range-date-seperator {
	margin-left: 10px;
	margin-right: 10px;
}

.yadcf-filter-wrapper-inner {
	display: inline-block;
	border: 1px solid #ABADB3;
	padding-left: 2px;
	padding-right: 2px;
}

.yadcf-number-slider-filter-wrapper-inner {
	display: inline-block;
	width: 200px;
	margin-bottom: 7px;
}

.yadcf-filter-range-number-slider .ui-slider-handle {
	width: 10px;
	height: 10px;
	margin-top: 1px;
}

.yadcf-filter-range-number-slider .ui-slider-range {
	position: relative;
	height: 5px;
}

.yadcf-filter-range-number-slider {
	height: 5px;
	margin-left: 6px;
	margin-right: 6px;
}

.yadcf-filter-range-number-slider {
    overflow: visible;
}

.yadcf-number-slider-filter-wrapper-inner .yadcf-filter-range-number-slider-min-tip {
	font-size: 13px;
	font-weight: normal;
	position: absolute;
	outline-style: none;
}

.yadcf-number-slider-filter-wrapper-inner .yadcf-filter-range-number-slider-max-tip {
	font-size: 13px;
	font-weight: normal;
	position:absolute;
	outline-style: none;
}

.yadcf-number-slider-filter-wrapper-inner .yadcf-filter-range-number-slider-min-tip-inner {
	position:absolute;
	top: 11px;
}

.yadcf-number-slider-filter-wrapper-inner .yadcf-filter-range-number-slider-max-tip-inner {
	position:absolute;
	top: 11px;
}

.yadcf-exclude-wrapper {
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}
.yadcf-label.small {
	font-size: 10px;
}
.dataTables_scrollHead {
	overflow: visible !important;
}

#configmoduletable > tbody > tr > td, #configmoduletable > tbody > tr > td{
    border-top: 0;
}

#test-wrapper > div > div:nth-child(2) > div > div > div.panel-footer > div:nth-child(2) > div:nth-child(2) > div:nth-child(1), #test-wrapper > div > div:nth-child(2) > div > div > div.panel-footer > div:nth-child(2) > div:nth-child(3) > div:nth-child(1){ 
    display: none
}

.row_selected{
	background-color: #c2d6f8;
}
.row_selected:hover{
	background-color: #a9c4f5;
}

li#manage_user {
    display: none;
}

div#batchStudTcc {
	display: none;
}

div#tr-student_tcc {
    display: none;
}

.form-group-control {
    margin-bottom: 5px;
}

.tableAccordion>tbody>tr>td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    text-align: left;
}

.tableAccordion .simplelabel {
    font-weight: bold;
    font-size: 15px;
}

.searchdatepic {
    margin-left: -14.5px;
}

.batch_calendar {
    margin-left: 550px;
}

#configmoduletable > tbody > tr > td, #configmoduletable > tbody > tr > td{
    border-top: 0;
}


#config > tbody > tr > td, #config> tbody > tr > td{
    border-top: 0;
}

#configtable > tbody > tr > td, #configtable> tbody > tr > td{
    border-top: 1;
}
#test-wrapper > div > div:nth-child(2) > div > div > div.panel-footer > div:nth-child(2) > div:nth-child(2) > div:nth-child(1), #test-wrapper > div > div:nth-child(2) > div > div > div.panel-footer > div:nth-child(2) > div:nth-child(3) > div:nth-child(1){ 
    display: none
}

.row_selected{
	background-color: #c2d6f8;
}
.row_selected:hover{
	background-color: #a9c4f5;
}

li#manage_user {
    display: none;
}

div#batchStudTcc {
	display: none;
}
.testCheck,.trainingCheck,.compAnsCheck,.tccStatusCheck,.prefDateOfExamCheck{

    /* border: solid #ff0000 5px; */
    width: 17px;
    height: 15px;
    background: rebeccapurple;
    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
    margin: -2px auto;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    -webkit-box-shadow: inset 0px 1px 1px, 0px 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    position: initial;

}

.configborder{
    border-style: ridge;

}

input#fromdate {
    margin-left: auto;
}

input#todate {
    margin-left: 20px;
}